*:focus {
    outline: none;
}

button.active {
    background-color: rgb(153, 153, 255);
    border-color: rgb(153, 153, 255);
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.column {
    display: flex;
    flex-direction: column;
}

.level-2 .column {
    padding: 0 19px;
}

.level-3 .column {
    padding: 0 14px;
}

.level-4 .column {
    padding: 0 9px;
}

.hexagon {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    text-align: center;
    transition: background-color .3s ease, color .3s ease;
}

.level-2 .hexagon {
    width: 80px;
    height: 138px;
}

.level-3 .hexagon {
    width: 60px;
    height: 104px;
}

.level-4 .hexagon {
    width: 40px;
    height: 69px;
}

.hexagon:not(:first-child) {
    margin-top: -2px;
}

.hexagon:before,
.hexagon:after {
    content: '';
    position: absolute;
    top: -2px;
    right: 0;
    height: 100%;
    width: 100%;
    transform: rotateZ(60deg);
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    background-color: inherit;
}

.hexagon:after {
    transform: rotateZ(-60deg);
}

.hexagon[data-value="0"] {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.hexagon[data-value="2"] {
    background-color: rgb(236, 228, 219);
    color: rgb(118, 110, 102);
}

.hexagon[data-value="4"] {
    background-color: rgb(235, 224, 202);
    color: rgb(118, 110, 102);
}

.hexagon[data-value="8"] {
    background-color: rgb(233, 179, 129);
}

.hexagon[data-value="16"] {
    background-color: rgb(232, 153, 108);
}

.hexagon[data-value="32"] {
    background-color: rgb(231, 130, 103);
}

.hexagon[data-value="64"] {
    background-color: rgb(229, 103, 71);
}

.hexagon[data-value="128"] {
    background-color: rgb(232, 207, 127);
}

.hexagon[data-value="256"] {
    background-color: rgb(232, 204, 114);
}

.hexagon[data-value="512"] {
    background-color: rgb(231, 200, 101);
}

.hexagon[data-value="1024"] {
    background-color: rgb(231, 197, 89);
}

.hexagon[data-value="2048"] {
    background-color: rgb(231, 194, 79);
}

.value {
    position: relative;
    z-index: 2;
}
